<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img class="w-7 h-7 rounded-full" *ngIf="user?.avatar; else defaultAvatar" [src]="user.avatar">
        <ng-template #defaultAvatar>
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'" class="min-h-full min-w-full"></mat-icon>
        </ng-template>

        <!-- Indicador de Status Visual -->
        <span class="absolute bottom-0 right-0 w-2 h-2 rounded-full ring-1 ring-white dark:ring-gray-900"
            [ngClass]="getStatusColorClass()" *ngIf="user">
        </span>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">

    <mat-divider class="" *ngIf="user"></mat-divider>
    <button mat-menu-item>
        <div class="flex items-center">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            <div class="flex flex-col items-start space-y-1">
                <span class="text-md font-medium leading-none">{{ user.name }}</span>
                <span class="text-md text-gray-400 font-medium leading-none">{{ user.email }}</span>
            </div>
        </div>
    </button>
   
    <button mat-menu-item [matMenuTriggerFor]="userTheme">
        <mat-icon [svgIcon]="'heroicons_outline:swatch'"></mat-icon>
        <span>Tema</span>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="userStatus">
        <mat-icon [svgIcon]="'heroicons_outline:ellipsis-horizontal-circle'"></mat-icon>
        <span>Status</span>
    </button>

    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>

    <!-- <button mat-menu-item *ngIf="user">
        <span class="flex flex-col leading-none">
            <span>Conectado como</span>
            <span class="mt-1.5 text-md font-medium">{{ user.name }}</span>
        </span>
    </button> -->

    <!-- <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>Configurações</span>
    </button> -->

<mat-menu class="user-theme-menu" #userTheme="matMenu">
    <button mat-menu-item (click)="setScheme('light')">
        <mat-icon class="mr-3" [svgIcon]="'heroicons_outline:sun'"></mat-icon>
        <span>Ligth</span>
    </button>
    <button mat-menu-item (click)="setScheme('dark')">
        <mat-icon class="mr-3" [svgIcon]="'heroicons_outline:moon'"></mat-icon>
        <span>Dark</span>
    </button>
    <button mat-menu-item (click)="setScheme('auto')">
        <mat-icon class="mr-3" [svgIcon]="'heroicons_outline:bolt'"></mat-icon>
        <span>Auto</span>
    </button>
</mat-menu>

<mat-menu class="user-status-menu" #userStatus="matMenu">
    <button mat-menu-item (click)="updateUserStatus('online')">
        <span class="w-4 h-4 mr-3 rounded-full bg-green-500"></span>
        <span>Online</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('away')">
        <span class="w-4 h-4 mr-3 rounded-full bg-amber-500"></span>
        <span>Afastado</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('busy')">
        <span class="w-4 h-4 mr-3 rounded-full bg-red-500"></span>
        <span>Ocupado</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('not-visible')">
        <span class="w-4 h-4 mr-3 rounded-full bg-gray-400"></span>
        <span>Invisível</span>
    </button>
</mat-menu>