<div class="w-full h-full overflow-y-auto bg-white p-9">
    <!-- Container para centralizar o conteúdo -->
    <div class="flex flex-col items-center justify-center h-full text-center text-gray-500">
        <!-- Ícone (opcional, certifique-se de ter MatIconModule importado no componente) -->
        <!-- <mat-icon svgIcon="heroicons_outline:arrow-left" class="w-16 h-16 text-gray-400"></mat-icon> -->
        
        <p class="mt-4 text-4xl font-semibold">Selecione um usuário</p>
        <p class="mt-1 text-md text-gray-400">Os detalhes do usuário selecionado aparecerão aqui.</p>
    </div>
</div>